@model Hospital_Assesement_5.Models.Hospital

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Hospital</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="HospitalID" />
            <div class="form-group">
                <label asp-for="HospitalName" class="control-label"></label>
                <input asp-for="HospitalName" class="form-control" />
                <span asp-validation-for="HospitalName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HospitalBranch" class="control-label"></label>
                <input asp-for="HospitalBranch" class="form-control" />
                <span asp-validation-for="HospitalBranch" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HospitalOpeningDate" class="control-label"></label>
                <input asp-for="HospitalOpeningDate" class="form-control" />
                <span asp-validation-for="HospitalOpeningDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HospitalAddress" class="control-label"></label>
                <input asp-for="HospitalAddress" class="form-control" />
                <span asp-validation-for="HospitalAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HospitalFloor" class="control-label"></label>
                <input asp-for="HospitalFloor" class="form-control" />
                <span asp-validation-for="HospitalFloor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
